@import url('https://fonts.googleapis.com/css?family=Bad+Script|Merienda+One|Patrick+Hand|Permanent+Marker|Roboto+Slab|Rock+Salt|Tangerine');
@import url('https://fonts.googleapis.com/css?family=Kavivanar|Risque');
@import url('https://fonts.googleapis.com/css?family=Handlee');
/*
font-family: 'Roboto Slab', serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Bad Script', cursive;
font-family: 'Merienda One', cursive;

*/

body, html {
	margin:0;
	padding:0;
}

	
.parallax {
   
	
    /* Full height */
    height: 100%; 
	
	transition:all ease-out .5s 0s;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.faceparallax {
   
	
    /* Full height */
    height: 100%; 
	
	transition:all ease-out .5s 0s;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
h1.social{
text-align:center;
font-family: 'Kavivanar', cursive;
font-size:3em;
}
p.social{
font-size:1em;
font-family: 'Handlee', cursive;
color:#ff5733;
}
.container {
	/*position:bottom;*/
  color: white;
  text-align: center;
}


li.clock{
  display: inline-block;
  font-size: 0.5em;
  list-style-type: none;
  padding: 0.8em;
  text-transform: uppercase;
}

li.clock span {
  display: block;
  font-size: 2.5rem;
}




.logo{
	position:fixed;
	float:left;
	margin:16px 36px;
	color:#fff;
	font-weight:bold;
	font-size:24px;
}
nav{
	position:fixed;
	width:100%;
z-index:1;
}
nav ul{
	list-style:none;
	background:rgba(0,0,0,0);
	overflow:hidden;
	color:#fff;
	padding:0;
	text-align:center;
	margin:0;
	transition: 2s;
	
}
.menu a {
  text-decoration: none;
  /*font-family: 'Roboto Slab', serif;*/
font-family: 'Patrick Hand', cursive;
  font-weight:bold;
}
.menu a:hover {
  
  color: #93DA8C;
  font-size:	20px;
}
.menu a .Ca:hover{

color:yellow;

}


nav.red ul{
	
	background:#ff5733;
}
nav ul li{
	display:inline-block;
	padding:20px;
	
}
nav ul li a {
	text-decoration:none;
	color:#fff;
	font-size:20px;	
}
.menu-icon{
	width:100%;
	background:#000;
	text-align:right;
	box-sizing:border-box;
	padding:15px 24px;
	cursor:pointer;
	color:#fff;
	display:none;
	
}

@media(max-width:580px){
	.logo{
		position:fixed;
		top:0;
		margin-top:16px;
	}
	nav ul{
		max-height:0px;
		background:#000;
	}
	nav.red ul{
		background:#ff5733;
	}
	.showing{
		max-height:35em;
	}
	nav ul li{
		box-sizing:border-box;
		width:100%;
		padding:18px 0;
		text-align:center;
		text-decoration:none;
	}
	.menu-icon{
		display:block;
	}
}



.butt{
	text-align:center;
  margin: 0 auto;
  font-size: 1.0rem;
  padding: 2.25rem 2.5rem;
  display: block;
  background-color: #009ac9;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.butt:hover {
  background-color: transparent;
  color: #ff5733;
  border-color: #ff5733;
}
.left{
	float:left;
}
.right{
	float:right;
}

.skew{
	
	/*transition:all ease-out .5s 0s;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
	margin-top:-200px;
	padding:130px 0;
	transform:skew(0deg,-10deg);
	background:#6d1d1d;
}

.content{
	text-align:right;
	transform:skew(0deg,10deg);
	/*padding-top:100px;
	padding-bottom:100px;*/
}
h2{
	float:right;
	font-weight:lighter;
	font-size:5em;
	padding-left:2em;
}
p{
	font-weight:lighter;
	font-size:20px;
}
.footer{
	padding-top:300px;
	text-align:center;
}